<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>大数据1组第10周进展汇报</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h2>前后端分离的<span style="color:#36e139;">构想</span>与<span style="color:#5bc0de;">实践</span></h2>
					<h4><em>大数据1组第10周进展汇报</em></h4>
					<p>
						<small>Created by <a href="＃">胡  杰</a></small>
					</p>
					<p>
						<small>
							<a href="#">潘李凡</a> / <a href="#">虞圣赟</a> / <a href="#">施  雯</a> / <a href="#">杨  彤</a> / <a href="#">莫周婷</a>
						</small>
					</p>
				</section>

				<section>
						<h2 style="color:#36e139;">上周回顾</h2>
						<ul style="line-height: 1.8;">
							<li class="fragment">代理服务器的专利申请</li>
							<li class="fragment">关键词比较模型的实现</li>
							<li class="fragment">json数据的自动生成</li>
							<li class="fragment">mysql存储过程学习</li>
							<li class="fragment">页面的重新设计与细化</li>
						</ul>
				</section>

				<section>
					<h3 style="color:#5bc0de;">本周工作展示 －by 潘李凡</h3>
					<li class="fragment" style="color:#36e139;font-weight:bold;">更换了代理服务器信息来源</li>
					<div class="fragment">
						<img src="images/1.png" alt="1.png" />
						<img src="images/2.png" alt="2.png" />
					</div>
				</section>

				<section>
					<h3 style="color:#5bc0de;">本周工作展示 －by 潘李凡</h3>
					<li class="fragment" style="color:#36e139;font-weight:bold;">完善了代理服务器数据表的设计</li>
					<div class="fragment">
						<img src="images/3.png" alt="3.png" />
						<img src="images/4.png" alt="4.png" />
					</div>
				</section>

				<section>
					<h3 style="color:#5bc0de;">本周工作展示 －by 潘李凡</h3>
					<li class="fragment" style="color:#36e139;font-weight:bold;">建立了代理服务器性能评价模型</li>
					<p class="fragment">
						$$ L = W_1 * T + W_2 * R + W_3 * S $$
						<br>
						$$ L值越小，代理服务器性能越好 $$
					  $$ T 代表连接时间 $$
						$$ R 连接失败率 $$
						$$ S 传输速率 $$
					</p>
				</section>

				<section>
					<h3 style="color:#5bc0de;">下周计划 －by 潘李凡</h3>
					<ul style="line-height: 1.8;">
						<li class="fragment">还不能自动判断代理服务器的类型（高匿还是透明）</li>
						<li class="fragment">爬虫程序的调度代理服务器信息的逻辑还不能完全解决反爬虫的问题，有待优化</li>
						<li class="fragment">思考并解决上述两个问题</li>
					</ul>
				</section>

				<section>
					<h3 style="color:#5bc0de;">本周工作展示 －by 杨彤</h3>
					<li class="fragment" style="color:#36e139;font-weight:bold;">将目前数据库操作改为存储过程</li>
					<div class="fragment">
						<img src="images/5.jpg" alt="5.jpg" />
					</div>
				</section>

				<section>
					<h3 style="color:#5bc0de;">下周计划 －by 杨彤</h3>
					<ul style="line-height: 1.8;" class="fragment">
						<li>根据API与相应需求增加/修改数据库表结构</li>
						<li>学习hibernate，并实现基本操作</li>
					</ul>
				</section>

				<section>
					<h3 style="color:#5bc0de;">本周工作展示 －by 莫周婷</h3>
					<li class="fragment" style="color:#36e139;font-weight:bold;">建立测试集，利用TD－IDF，产生测试结果</li>
					<div class="fragment">
						<p>$$ \frac{某个词在文章中出现次数}{文章总词数}(TF) ＊ log(\frac{语料库的文档总数}{包含该词文档数 ＋ 1}) $$</p>
						<img src="images/8.png" alt="8.png" style="width: 80%; height: 350px;"/>
					</div>
				</section>

				<section>
					<h3 style="color:#5bc0de;">下周计划 －by 莫周婷</h3>
					<ul style="line-height: 1.8;" class="fragment">
						<li>学习Matlab，对测试结果进行分析，优化算法</li>
					</ul>
				</section>

				<section width="100%">
					<h3 style="color:#5bc0de;">本周工作展示 －by 施雯</h3>
					<li class="fragment" style="color:#36e139;font-weight:bold;margin-bottom:10px;">制作商品、品牌页面</li>
					<iframe class="fragment" src="http://120.27.130.203:3000" width="100%" height="500"></iframe>
				</section>

				<section>
					<h3 style="color:#5bc0de;">下周计划 －by 施雯</h3>
					<ul style="line-height: 1.8;" class="fragment">
						<li>继续学习页面布局等前端知识</li>
						<li>继续完成产品页面的后半部分</li>
						<li>大数据两个小组的页面整合</li>
					</ul>
				</section>

				<section>
					<section id="fragments">
						<h3 style="color:#36e139;">你是否在开发中发现过这些问题？</h3>
						<ol style="line-height: 1.8;">
							<li class="fragment">前端页面写好了没？我要写功能了</li>
							<li class="fragment">我这里要改一下，后端你也记得改</li>
							<li class="fragment">本地还要配置数据库啊，哭～～</li>
							<li class="fragment">这个数据应该放页面哪里，告诉我！</li>
						</ol>
					</section>
				</section>

				<section>
					<h3>如何解决？</h3>
					<h1 class="fragment"><em style="color:#36e139;">前后端必须分离</em></h1>
				</section>

				<section>
					<h2 style="color:#36e139;">那具体怎么干？</h2>
					<ul class="fragment" style="line-height: 1.8;">
						<li>后端业务逻辑完全API化</li>
						<li>前端调用API获取数据，渲染html页面</li>
					</ul>
				</section>

				<section>
					<h2 style="color:#36e139;">这样干的好处？</h2>
					<ul class="fragment" style="line-height: 1.8;">
						<li>前后端责任清晰，不必甩锅</li>
						<li>提高工作效率，完成约定后，能够完全并行开发</li>
						<li>本地开发更加方便，不需要过多涉及不了解的内容</li>
					</ul>
				</section>

				<section>
					<h2 style="color:#36e139;">我们小组的想法！</h2>
					<div class="fragment" style="display: flex;">
						<div style="flex: 1;">
							<img src="images/7.png" alt="7.png" />
						</div>
						<div style="flex: 1;">
							<img src="images/6.png" alt="6.png" />
						</div>
					</div>
				</section>

				<section>
					<h2 style="color:#36e139;">一定用node？</h2>
					<ul class="fragment" style="line-height: 1.8;">
						<li>用ajax加载数据？</li>
						<li>用某种语言的MVC的框架？</li>
					</ul>
				</section>

				<section>
					<section>
						<h2 style="color:#36e139;">其实讲代码我是拒绝的！</h2>
						<div>
							<pre>
								<code class="javascript hljs" data-trim contenteditable>
	app.get('/type', function(req, res) {
		request('typelist.php', function (error, response, body) {
			data = JSON.parse(body);
			if (!error && response.statusCode == 200 && data.status == 0) {
				res.render('type', {
					'title': 'test',
					'data': data
				});
			}
		});
	});
									</code>
							 </pre>
						 </div>
					</section>
					<section>
						<div>
 						 <pre>
 						 	<code class="php hljs" data-trim contenteditable>
 include('db.php');
 $sql = "SELECT * FROM type";
 $mysqli_result = $mysqli->query($sql);
 if($mysqli_result && $mysqli_result->num_rows > 0){
   $result = array();
   $result['status'] = 0;
   $result['type'] = array();
   while($row = $mysqli_result->fetch_all(MYSQLI_ASSOC)){
     $result['type'] = $row;
   }
 }else{
   $result['status'] = 1;
   $result['type'] = array();
 }
 echo json_encode($result, JSON_UNESCAPED_UNICODE);
 							</code>
 						 </pre>
 					 </div>
					</section>
					<section>
						<pre>
						 <code class="xml hljs">
&lt!DOCTYPE html>
&lthtml>
  &lthead>
    <meta charset="utf-8">
    <title><%= title %></title>
  &lt/head>
  &ltbody>
    <ul>
      <% data.type.forEach(function(e){ %>
        <li ><%= e.name %></li>
      <% }) %>
    </ul>
  &lt/body>
&lt/html>
						 </code>
					  </pre>
					</section>
				</section>

				<section style="text-align: left;">
					<h1>THE END</h1>
					<p>
						- <a href="http://120.27.130.203:3000">http://120.27.130.203:3000</a> <br>
					</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
