<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen">
        <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/stylesheets/index.css" media="screen">
    </head>
    <body>
        <div class="search">
          <h1 class="title">基于海淘的数据分析与可视化</h1>
          <div class="search-main">
            <div class="select-type">
              <div class="select-element active" id="select-brand">
                <span>品牌</span>
              </div>
              <div class="select-element" id="select-shop">
                <span>店铺</span>
              </div>
            </div>
            <form action="#" method="post" name="search-content" id="submit-brand">
              <input class="search-input" name="wenben" type="search" placeholder="请输入品牌名称">
              <button class="search-submit" type="submit" name="button">搜索</button>
            </form>
            <form action="#" method="post" name="search-content" id="submit-shop" class="hide">
              <input class="search-input" name="wenben" type="search" placeholder="请输入店铺名称">
              <button class="search-submit" type="submit" name="button">搜索</button>
            </form>
            <ul>
              <li>热门搜索:</li>
              <li><a href="/milk-powder">奶粉</a></li>
              <li><a href="#">纸尿裤</a></li>
              <li><a href="#">玩具</a></li>
              <li><a href="#">奶瓶</a></li>
              <li><a href="#">液体钙</a></li>
            </ul>
          </div>
        </div>

        <div class="show-function">
          <div class="show-title">
            <h1 class="title">四大功能</h1>
          </div>
          <div class="show-img">
            <div class="show-element">
              <img src="/images/show1.png" class="img-circle img-thumbnail" />
              <h3>同类品牌</h3>
            </div>
            <div class="show-element">
              <img src="/images/show2.png" class="img-circle img-thumbnail" />
              <h3>旗下产品</h3>
            </div>
            <div class="show-element">
              <img src="/images/show3.png" class="img-circle img-thumbnail" />
              <h3>同品比价</h3>
            </div>
            <div class="show-element">
              <img src="/images/show4.png" class="img-circle img-thumbnail" />
              <h3>店铺PK</h3>
            </div>
          </div>
        </div>

        <div class="data">
          <div class="show-title">
            <h1 class="title">让数据说话</h1>
          </div>
          <div class="data-show">
            <div class="data-element">
              <div class="data-word" id="word-1">
                <div class="data-word-show-1">
                  <h1>基于大数据</h1>
                  <h1>实时获取</h1>
                </div>
              </div>
              <div class="data-pic" id="pic-1">
              </div>
            </div>
            <div class="data-element">
              <div class="data-pic" id="pic-2">
              </div>
              <div class="data-word" id="word-2">
                <div class="data-word-show-2">
                  <h1>完全可视化</h1>
                  <h1>清晰易懂</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script src="/javascripts/index.js"></script>
    </body>
</html>
