<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Milk Powder</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/milk-powder.css" media="screen">
  </head>
  <body>
    <div class="main">

      <div class="timeselect">
      </div>

      <table class="table">
        <thead>
          <tr class="success">
            <th>品牌编号</th>
            <th>品牌名</th>
            <th>当前销量</th>
            <th>销量增值</th>
            <th>排名变化</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div id="row" class="row">
        <div id="first" class="col-md-6">
          <h3>销量前十奶粉品牌占比</h3>
        </div>
        <div id="second" class="col-md-6">
          <h3>各奶粉品牌销量折线图</h3>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <script src="/javascripts/table.js"></script>
  </body>
</html>
