<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Milk Powder</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/omain.css" media="screen">
</head>
<body>
  <!-- 左侧导航栏 -->
  <div class="sidebar">
    <h3 class="sidebar-title">看看大家都在比</h3>
    <hr class="sidebar-hr">
    <ul class="sidebar-ul">
      <li class="sidebar-item">
        <div class="pic">
          <img class="sidebar-item-img" src="/images/milkPower.png" alt="milkPower" />
        </div>
        <div class="content">
          <p>奶粉</p>
          <p>￥180</p>
        </div>
      </li>

      <li class="sidebar-item">
        <div class="pic">
          <img class="sidebar-item-img" src="/images/bottle.png" alt="bottle" />
        </div>
        <div class="content">
          <p>奶瓶</p>
          <p>￥69</p>
        </div>
      </li>

      <li class="sidebar-item">
        <div class="pic">
          <img class="sidebar-item-img" src="/images/babyDiaper.png" alt="babyDiaper" />
        </div>
        <div class="content">
          <p>尿不湿</p>
          <p>￥130</p>
        </div>
      </li>

      <li class="sidebar-item">
        <div class="pic">
          <img class="sidebar-item-img" src="/images/perambulator.png" alt="perambulator" />
        </div>
        <div class="content">
          <p>婴儿车</p>
          <p>￥380</p>
        </div>
      </li>

      <li class="sidebar-item">
        <div class="pic">
          <img class="sidebar-item-img" src="/images/wallker.png" alt="wallker" />
        </div>
        <div class="content">
          <p>学步车</p>
          <p>￥78</p>
        </div>
      </li>
    </ul>
  </div>

  <!--产品部分-->
  <div class="picdes">
    <div class="picture">
      <img src="/images/1.jpg">
    </div>
    <div class="describe">
      <p>
        <b>产品名称：</b>
        牛栏2段婴儿原装保税区荷兰进口奶粉二段诺优能2海外直邮Nutrilon
        </br>
        <b>所属品牌：</b>
        Nutrilon/诺优能(牛栏)
        </br>
        <b>产品规格：</b>
        850g
        </br>
        <b>适用年龄：</b>
        6-10个月
        </br>
        <b>产地：</b>荷兰
      </p>
    </div>
  </div>

  <!--比较部分-->
  <div class="compare">
    <ul class="compare-select">
      <li>首页</li>
      <li>商品比价</li>
      <li>用户评价</li>
    </ul>
    <div class="compare-main">
      <h3>价格最优top3</h3>
      <hr>
      <ul class="compare-main-element">
        <li>
          <img src="/images/tianmao.png">
          <div class="compare-main-element-price">
            <p>天猫价格：￥149.56/500g</p>
          </div>
          <div class="compare-main-element-link">
            <a href="https://detail.tmall.hk/hk/item.htm?spm=a220m.1000858.1000725.1.QI52ZT&id=37114180110&areaId=330100&cat_id=2&rn=d389489c99eb33ac7161450437c2c0da&user_id=1935219690&is_b=1">
              点此链接
            </a>
          </div>
        </li>
        <hr>
        <li>
          <img src="/images/ebates.png">
          <div class="compare-main-element-price">
            <p>EBATES价格：￥160/500g</p>
          </div>
          <div class="compare-main-element-link">
            <a href="#">
              点此链接
            </a>
          </div>
        </li>
        <hr>
        <li>
          <img src="/images/shop.png">
          <div class="compare-main-element-price">
            <p>麦乐购价格：￥206/500g</p>
          </div>
          <div class="compare-main-element-link">
            <a href="http://www.gou.com/product_583.html">
              点此链接
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="main" style="height: 400px;"></div>
  <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
  <script src="/javascripts/charts.js"></script>
</body>
</html>
