<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    	<link rel="stylesheet" href="/stylesheets/normalize.css" media="screen">
      <link rel="stylesheet" href="/stylesheets/qixia.css" media="screen">
    </head>
    <body>
      <center><h1>旗下产品</h1></center>
      <hr>
      <div id="p1"></div>
      <div id="p2"><img src="/images/诺优能介绍.png"></div>
      <hr>
      <div class="w1">
        <img src="/images/QQ截图20151202224702.png">
      </div>

      <script language="javascript" type="text/javascript" src="/javascripts/jquery.min.js" /></script>
    </body>
</html>
