<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>类别页面</title>
    	<link rel="stylesheet" href="/stylesheets/normalize.css" media="screen">
      <link rel="stylesheet" href="/stylesheets/type.css" media="screen">
    </head>
    <body>
      <center>
        <h1>同类品牌</h1>
      </center>
      <div class="milk">
        <h3>奶粉 热门品牌 <span style="color:#D3D3D3">hot brand</span></h3>
        <hr>
        <p id="p1"><a href="#"><img src="/images/奶粉图/奶粉.png"></a></p>
        <p id="p2"><a href="#" title="Nutrilon/诺优能"><img src="/images/奶粉图/Nutrilon.png"></a></p>
        <p id="p3"><a href="#" title="Aptamil"><img src="/images/奶粉图/Aptamil.png"></a></p>
        <p id="p4"><a href="#" title="Abbott/雅培"><img src="/images/奶粉图\Abbott.png"></a></p>
        <p id="p5"><a href="#" title="Beingmate/贝婴美"><img src="/images/奶粉图/beingmate.png"></a></p>
        <p id="p6"><a href="#" title="Dumex/多美滋"><img src="/images/奶粉图/dumex.png"></a></p>
        <p id="p7"><a href="#" title="Friso/美素佳儿"><img src="/images/奶粉图/Friso.png"></a></p>
        <p id="p8"><a href="#" title="MradJohnson/美赞臣"><img src="/images/奶粉图/MradJohnson.png"></a></p>
        <p id="p9"><a href="#" title="Wyeth/惠氏"><img src="/images/奶粉图/Wyeth.png"></a></p>
        <p id="p10"><a href="#" title="BIOSTIME/合生元"><img src="/images/奶粉图/BIOSTIME.png"></a></p>
        <hr>
      </div>
      <div class="zhiniaoku">
        <h3>纸尿裤/拉拉裤/纸尿片 热门品牌 <span style="color:#D3D3D3">hot brand</span></h3>
        <hr>
        <p id="zp1"><a href="#"><img src="/images/纸尿裤图/纸尿裤.png"></a></p>
        <p id="zp2"><a href="#" title="花王"><img src="/images/纸尿裤图/花王.png"></a></p>
        <p id="zp3"><a href="#" title="pampers/帮宝适"><img src="/images/纸尿裤图/pampers.png"></a></p>
        <p id="zp4"><a href="#" title="TeddyBear/泰迪熊"><img src="/images/纸尿裤图/TeddyBear.png"></a></p>
        <p id="zp5"><a href="#" title="安尔乐"><img src="/images/纸尿裤图/安尔乐.png"></a></p>
        <p id="zp6"><a href="#" title="Daddybaby/爹地宝贝"><img src="/images/纸尿裤图/爹地宝贝.png"></a></p>
        <p id="zp7"><a href="#" title="好奇"><img src="/images/纸尿裤图/好奇.png"></a></p>
        <p id="zp8"><a href="#" title="妈咪宝贝"><img src="/images/纸尿裤图/妈咪宝贝.png"></a></p>
        <p id="zp9"><a href="#" title="妈咪宝贝"><img src="/images/纸尿裤图/妈咪宝贝.png"></a></p>
        <p id="zp10"><a href="#" title="妈咪宝贝"><img src="/images/纸尿裤图/妈咪宝贝.png"></a></p>
        <hr>
      </div>

      <script type="text/javascript" src="/javascripts/jquery.min.js" /></script>
    </body>
</html>
