*{
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

hr{
	border: 1px solid #D3D3D3;
	margin: 0px;
}

#p1{
	height: 300px;
	width: 100%;
	background-size: 100% auto;
	background-image: url(/images/诺优能背景.jpg);
	background-repeat: no-repeat;
	margin-bottom: 0px;
}

#p2{
	height: 280px;
	margin-top: -280px;
	margin-bottom:0px;
}
