/*  ＊号表示全局使用  */
body{
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-size: 100% auto;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, div{
  margin: 0;
}

.title{
  text-align: center;
  padding: 100px 0 0 0;
  font-size: 34px;
  font-weight: bold;
  color: white;
}

.search-main{
  text-align: center;
  margin-top: 35px;
}

#search-input{
  width: 25%;
  height: 32px;
  line-height: 1.43;
  border: 1px;
  border-radius: 5px;
}

#search-submit{
  border: 2px solid rgb(42, 100, 150);
  background-color: rgb(42, 100, 150);
  height: 34px;
  color: white;
  font-weight: bold;
  width: 5%;
  border-radius: 5px;
}

ul{
  padding: 10px 0 100px 0;
  margin-top: 16px;
  margin-bottom: 0px;
}

ul li{
  margin: 0 7px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: red;
}

ul li a{
  text-decoration: none;
  color: white;
}

.show-img{
  display: -webkit-flex;
  display: flex;
}

.show-element{
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  padding: 10px 50px;
}

.show-element img{
  width: 60%;
  opacity: 0.6;
}

.show-element img:hover{
  width: 80%;
  opacity: 1;
}

.show-element h3{
  font-weight: bold;
  color: #fff;
}
