body{
  width: 100%;
}

.main{
  width: 80%;
  margin: 20px auto;
}

tbody{
  position: relative;
}

tr{
  position: absolute;
}

tr td, tr th{
  width: 230px;
}

tr td:first-child, tr th:first-child{
  width: 100px;
  font-weight: bold;
}

.timeselect{
  margin: 20px 0;
}

a{
  margin: auto 5px;
}

.glyphicon-arrow-up{
  color: red;
}

.glyphicon-arrow-down{
  color: green;
}
